<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RestResourceSection" type="Test.RestResourceSection, Test"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <RestResourceSection APIName="Newegg Backend System" DebugMode="true">
    <Resources>
      <Resource AssemblyName="Newegg.Demo.Employee"/>
      <Resource AssemblyName="Newegg.Demo.Employee2"/>
    </Resources>
    <LogSetting LogPath="Test.TextEmitter">
      <logSettingFirst FirstPath="C:\File" Mode="text"/>
    </LogSetting>
  </RestResourceSection>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>


  <system.serviceModel> 
    <bindings>
      <basicHttpBinding>
        <binding name="ZEGGNET_CREDIT_INFO" />
      </basicHttpBinding> 
    </bindings>
    <client />
  </system.serviceModel>
</configuration>
